@model IEnumerable<BachHoaOnline.Models.Hanghoa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tenhh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tenalias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dongia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Giamgia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mancc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Math)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maxx)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maloai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chitietloai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Solanxem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaysx)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motadonvi)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenhh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenalias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dongia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Giamgia)
                    </td>
                    <td>
                        <img src="~/images/@item.Hinh"/>                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mancc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Math)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maxx)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maloai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chitietloai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Solanxem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngaysx)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motadonvi)
                    </td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.Mahh">Chi tiết</a> |*@
                        <a title="@item.Tenhh" href="san-pham/@item.Tenalias">Chi tiết</a>
                        <a asp-action="AddToCart" asp-route-id="@item.Mahh">Thêm vào giỏ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

