@model BachHoaOnline.Models.Khachhang

@{
    ViewData["Title"] = "Delete";
    Layout = "Frontend";
}

<h2>Xóa tài khoản</h2>
<div class="col-md-4 col-md-push-4">
    @if (ViewBag.status != null)
    {
        <span>@ViewBag.status</span>
        <br />
        <a asp-action="Index">Về lại trang danh sách</a>
    }
    else
    {
        <h3>Bạn có chắc muốn xóa tài khoản này?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Email
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Họ tên
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hoten)
                </dd>
                <dt>
                    Giới tính
                </dt>
                @if (Model.Gioitinh == true)
                {
                    <dd>Nam</dd>
                }
                else
                {
                    <dd>Nữ</dd>
                }
                <dt>
                    Ngày sinh
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ngaysinh)
                </dd>
                <dt>
                    Địa chỉ
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Diachi)
                </dd>
                <dt>
                    Điện thoại
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Dienthoai)
                </dd>
                <dt>
                   Random key
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Randomkey)
                </dd>
            </dl>

            <form asp-action="DoDelete">
                <input type="hidden" asp-for="Makh" />
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                <a asp-action="Index">Về lại trang danh sách</a>
            </form>
        </div>
    }
</div>
