@model IEnumerable<BachHoaOnline.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
    Layout = "Frontend";
}

<h2>Danh sách tài khoản</h2>

<p>
    <a asp-action="Create">Tạo mới tài khoản</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Email
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Điện thoại
            </th>
            <th>
               Random key
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            @if (item.Gioitinh == true)
            {
                <td>Nam</td>
            }
            else
            {
                <td>Nữ</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Randomkey)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Makh">Sửa</a><br />
                <a asp-action="Delete" asp-route-id="@item.Makh">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href="@Url.Action("Index","Administrator")">Về lại trang quản trị</a>
</div>